{% extends "_layout/master.twig" %}

{% block content %}

    <div class="row">
        <div class="col-md-12">
            <h1>Terms and conditions</h1>
            <p>
                This is our terms and conditions page. Insert the terms and conditions here, please.
            </p>
        </div>
    </div>

{% endblock %}